/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 1em;
    background-color: var(--light);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #8a8a8a;
    border-radius: 1em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--green);
}

@media (pointer: coarse) {
    /*  for devices that dont support cursors */
    #cursor {
        display: none !important;
    }
}

@media (pointer: none) {
    /*  for devices that dont support cursors */
    #cursor {
        display: none !important;
    }
}

@media (hover: none) {
    /*  for devices that dont support cursors */
    #cursor {
        display: none !important;
    }
}
