.title {
    transition: all 0.5s;
}

.Dbuttons {
    transition: color 0.4s ease-out, background-color 0.4s ease-out;
    color: var(--light);
    background-color: var(--dark);
    border: var(--light) solid 1px;
    border-radius: 0.6em;
    text-decoration: none;
    padding: 0.3em 0.5em;
    text-wrap: nowrap;
}

.Dbuttons:hover {
    color: var(--dark);
    background-color: var(--light);
}

#blob {
    background-color: var(--light);
    width: 100vw;
}

.blobBox {
    overflow: hidden;
    height: 100px;
}